<a href="https://colab.research.google.com/github/sabrinaMKE201073/Python-for-Data-Science-Lesson/blob/main/Lesson_Day_1_Real_Python_for_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
3 + 2 * 2

7

In [ ]:
name = 'Lizz'
print(name[0:2])

Li

In [ ]:
var = '01234567'
print(var[::2])

0246

In [ ]:
'1'+'2'

'12'

In [ ]:
print('1')

1

In [ ]:
print('2')

2

In [ ]:
"H"+'A'

'HA'

In [ ]:
A=(0,1,2,3)
A[3]

3

In [ ]:
A[-1]

3

In [ ]:
B=["a","b","c"]
type(B)

list

In [ ]:
B[1:]

['b', 'c']

In [ ]:
B[0:]

['a', 'b', 'c']

In [ ]:
B[2:]

['c']

In [ ]:
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

In [ ]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
S={'A','B','C'}

U={'A','Z','C'}

z = S&U

In [ ]:
z

{'A', 'C'}

In [ ]:
D = {'a':0,'b':1,'c':2}

In [ ]:
D.values()

dict_values([0, 1, 2])

In [ ]:
D = {'a':0,'b':1,'c':2}
D['b']

1

In [ ]:
A = ('a','b','c')
type(A)

tuple

In [ ]:
A[0]

'a'

In [ ]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

In [ ]:
Dict["D"]

(4, 4, 4)

In [ ]:
i=0
i!=0

False

In [ ]:
x='a'

if(x!='a'):

  print("This is not a.")

else:

  print("This is a.")

This is a.

Q1: There are 2 sisters, Annie and Jane, born in 1996 and 1999 respectively. They want to know who was born in a leap year. Write an if-else statement to determine who was born in a leap year.

In [ ]:
Annie=1996
Jane=1999
if (Annie%4==0):
    print("Annie was born in a leap year")
elif (Jane%4==0):
    print("Jane was born in a leap year")
else:
    print("None of them were born in a leap year")

Annie was born in a leap year

Q2: In a school canteen, children under the age of 9 are only given milk porridge for breakfast. Children from 10 to 14 are given a sandwich, and children from 15 to 17 are given a burger. The canteen master asks the age of the student and gives them breakfast accordingly. Sam's age is 10. Use if-else statement to determine what the canteen master will offer to him.

In [ ]:
age = 10
if (age<=9):
    print("You'll get a bowl of milk porridge")
elif (age>=10 and age<=14) :
    print("You'll get a sandwich")
elif (age>=15 and age<=17) :
    print("You'll get a burger")

You'll get a sandwich

In [ ]:
squares = ["red","yellow","green","purple","blue"]

for i in range(0,5):
  squares[i] = "white"

squares

['white', 'white', 'white', 'white', 'white']

In [ ]:
squares = ["red","yellow","green"]

for i, square in enumerate(squares):
  print(square)
  print(i)

red
0
yellow
1
green
2

In [ ]:
#while loops
squares = ['orange','orange','purple','blue']

Newsquares = []

i = 0

while(squares[i]=='orange'):
  Newsquares.append(squares[i])
  i=i+1
  print(i)
print(Newsquares)

1
2
['orange', 'orange']

Q3:  Use loops to print out the elements in the list A

In [ ]:
A=[3,4,5]
for i in A:
    print (i)

3
4
5

In [ ]:
A=[3,4,5]

for a in A:

  print(a)

3
4
5

In [ ]:
x=3
y=1

while(y!=x):
  print(y)
  y=y+1

1
2

In [ ]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):
    print(year)
    i = i + 1
    year = dates[i]


print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

**Question:** Write a for loop the prints out all the element between -5 and 5 using the range function.

In [ ]:
for i in range(-4,5):
    print(i)

-4
-3
-2
-1
0
1
2
3
4

**Question:** Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

In [ ]:
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

for Genre in Genres:
    print(Genre)

rock
R&B
Soundtrack
R&B
soul
pop

**QUESTION:** Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']

In [ ]:
squares=['red', 'yellow', 'green', 'purple', 'blue']

for square in squares:
  print (square)

red
yellow
green
purple
blue

**QUESTION:** Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

In [ ]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
rating = PlayListRatings[0]

while (i<len(PlayListRatings) and rating >= 6):
  print(rating)
  i=i+1
  rating = PlayListRatings[i]

#At PlayListRatings[5], rating = 5, less than 6, hence loop stops there

10
9.5
10
8
7.5

**QUESTION:** Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

In [ ]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0

while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

**REAL LIFE PROBLEMS**: Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.

In [ ]:
print("Multiplication table of 6: ")
for i in range (13):
  print("6*", i, "=", 6*i)

print("\nMultiplication table of 7: ")
for i in range (13):
  print("7*", i, "=", 7*i)

Multiplication table of 6:
6* 0 = 0
6* 1 = 6
6* 2 = 12
6* 3 = 18
6* 4 = 24
6* 5 = 30
6* 6 = 36
6* 7 = 42
6* 8 = 48
6* 9 = 54
6* 10 = 60
6* 11 = 66
6* 12 = 72

Multiplication table of 7:
7* 0 = 0
7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63
7* 10 = 70
7* 11 = 77
7* 12 = 84

**REAL LIFE PROBLEMS**: The following is a list of animals in a National Zoo. Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]

Your brother needs to write an essay on the animals whose names are made of 7 letters. Help him find those animals through a while loop and create a separate list of such animals.

In [ ]:
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
Newlist = []
i=0

while i<len(Animals):
  j = Animals[i]
  if (len(j)==7):
    Newlist.append(j)

  i = i+1
print(Newlist)

['giraffe', 'gorilla', 'parrots']