<a href="https://colab.research.google.com/github/sabrinaMKE201073/Python-for-Data-Science-Lesson/blob/main/Lesson_Day_2_TONIGHT_Real_Python_for_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Module 4 - Working with Data in Python
- Loading Data with **PANDAS** (4:07)

In [ ]:
import pandas as pd
csv_path = '/content/sample_data/mnist_train_small.csv'
df = pd.read_csv(csv_path)

#we can also use other term instead of "pd",
#it can also be "banana", which makes
#for example, import pandas as banana

In [ ]:
#df stand for DATAFRAMES
df.head()

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#we can also read excel file as per below code

#xlsx_path ='file1.xlsx'
#df = pd.read_excel(xlsx_path)
#df.head

In [ ]:
#We can also cast dictionary to a dataframe
# by using a function DataFrame
songs = {
    'Album': ['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell'],
    'Released': [1982, 1980, 1973, 1992, 1977],
    'Length': ['00:42:19', '00:42:11', '00:42:49', '00:57:44', '00:46:33']
}
df = pd.DataFrame(songs)
print(df)

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46:33

In [ ]:
x = df[['Length']]
print(x)

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33

In [ ]:
y = df [['Album','Length']]
print(y)

                       Album    Length
0                   Thriller  00:42:19
1              Back in Black  00:42:11
2  The Dark Side of the Moon  00:42:49
3              The Bodyguard  00:57:44
4            Bat Out of Hell  00:46:33

In [ ]:
df

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46:33

In [ ]:
z = df.loc[2,'Album']
print(z)

#THIS IS HOW TO CALL OUT SPECIFIC LOCATION (ROW, COLUMN)

The Dark Side of the Moon

In [ ]:
a = df.loc[0,'Length']
print(a)

00:42:19

In [ ]:
sliced_part = df.iloc[0:2, 0:3]
print(sliced_part)

#this is how to slice a part of dataframe from full dataframe

           Album  Released    Length
0       Thriller      1982  00:42:19
1  Back in Black      1980  00:42:11

In [ ]:
df2=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
print(df2)

    a   b
0  11  21
1  21  22
2  31  23

In [ ]:
df2.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [ ]:
x2 = df2[['a']]
print(x2)

    a
0  11
1  21
2  31

In [ ]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

- Working with and Saving Data with Pandas (2:02)

In [ ]:
import pandas as pd
songs = {
    'Album': ['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard',
              'Bat Out of Hell','Their Greatest Hits', 'Saturday Night Fever','Rumours'],
    'Released': [1982, 1980, 1973, 1992, 1977,1976,1977,1977],
    'Length': ['00:42:19', '00:42:11', '00:42:49', '00:57:44', '00:46:33',
               '00:43:08', '01:15:54', '00:40:01'],
    'Rating': [10.0,9.5,9.0,8.5,8.0,7.5,7.0,6.5]
}
df = pd.DataFrame(songs)
print(df)

                       Album  Released    Length  Rating
0                   Thriller      1982  00:42:19    10.0
1              Back in Black      1980  00:42:11     9.5
2  The Dark Side of the Moon      1973  00:42:49     9.0
3              The Bodyguard      1992  00:57:44     8.5
4            Bat Out of Hell      1977  00:46:33     8.0
5        Their Greatest Hits      1976  00:43:08     7.5
6       Saturday Night Fever      1977  01:15:54     7.0
7                    Rumours      1977  00:40:01     6.5

In [ ]:
df.head()
#the function of df.head() is only print out the first 5 rows of the dataframe

                       Album  Released    Length  Rating
0                   Thriller      1982  00:42:19    10.0
1              Back in Black      1980  00:42:11     9.5
2  The Dark Side of the Moon      1973  00:42:49     9.0
3              The Bodyguard      1992  00:57:44     8.5
4            Bat Out of Hell      1977  00:46:33     8.0

In [ ]:
z = df['Released'].unique()
print(z)

[1982 1980 1973 1992 1977 1976]

In [ ]:
df['Released']>=1980

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7    False
Name: Released, dtype: bool

In [ ]:
#create new dataframe which album released after year of 1980 only
df1 = df[df['Released']>=1980]
print(df1)

           Album  Released    Length  Rating
0       Thriller      1982  00:42:19    10.0
1  Back in Black      1980  00:42:11     9.5
3  The Bodyguard      1992  00:57:44     8.5

In [ ]:
#SAVE our new dataframe as CSV file
df1.to_csv('album_released_after_1980.csv')

In [ ]:
### LAB ###

###QUESTION 1####

import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df

   a  b
0  1  1
1  2  1
2  1  1

In [ ]:
#   Q1) find the unique values in column  'a' :

df['a'].unique()

array([1, 2])

In [ ]:
#   Q2) Return a dataframe with only the rows where column  a  is less than two:

df[df['a']<2]

   a  b
0  1  1
2  1  1